.chatContainer {
  border: 3px solid orange;
  .chatContent {
    .chatBox {
      border: 3px solid green;
      height: 60vh;
      li {
        span {
          &.opponent {
            color: red;
          }
          &.me {
            color: blue;
          }
        }
      }
    }
    .chatForm {
      input {
        padding: 20px;
      }
    }
  }
}
