.loginContainer {
  position: relative;
  top: 50%;
  left: 50%;
  width: 490px;
  height: 65vh;
  transform: translate(-50%, -50%);
  background-color: $mainBgColor;
  display: flex;
  justify-content: center;
  .loginMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    img {
      width: 75%;
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        border: none;
        border: 1px solid #dcdcdc;
        border-radius: 3px;
        padding: 15px;
        width: 275px;
        box-sizing: border-box;
        font-size: 15px;
        &::placeholder {
          color: #bebebe;
        }
      }
      button {
        border-radius: 3px;
        margin-top: 6px;
        border: none;
        border: 1px solid #dcdcdc;
        font-size: 14px;
        color: #d3d3d3;
        padding: 13px;
        width: 275px;
        box-sizing: border-box;
        background-color: #f6f6f6;
        cursor: pointer;
      }
    }
  }
}
