.chatBox {
  .notification {
    text-align: center;
    background-color: #a9bdce;
    color: white;
    border-radius: 20px;
    margin: 6px auto;
    padding: 8px 10px;
    font-size: 14px;
    display: inline-block;
  }
}
