@import "_reset";
@import "_variables";
@import "loginContainer";
@import "chatContainer";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &.login {
    .loginContainer {
      display: none;
    }
  }
  &.logout {
    .loginContainer {
      display: block;
    }
  }
  section {
    width: 600px;
    height: 100vh;
    background: url("../images/iphone2.png") no-repeat center center;
    background-size: 680px;
  }
}
